* {
    margin: 0;
    padding: 0;
}

 tr{
    height: 50px;
    width: 50px;
    border: 1px solid black;



}
 td{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

 div{
     height: 300px;
     width: 300px;
     border: 1px solid black;
     display: flex;
     justify-content: center;
     align-items: center;


 }
 button{
     height: 50px;
     width: 80px;
     border: 1px solid black;
 }
 select{
     height: 30px;
     width: 100px;
     border: 1px solid black;

 }